.BookList {
  max-width: 1280px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.BookList__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
}

.BookList__error {
  display: none;
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}

.BookList__error_visible {
  display: block;
}

.BookList__items {
  font-size: 24px;
  color: black;
  font-weight: 400;
  margin: 0;
}

/* button styling */
.BookList__more-btn {
  margin-top: 35px;
  font-size: 18px;
  color: #181818;
  font-family: inherit;
  font-weight: 800;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

.BookList__more-btn:focus,
.BookList__more-btn:hover {
  color: #000;
}

.BookList__more-btn:focus:after,
.BookList__more-btn:hover:after {
  width: 100%;
  left: 0%;
}

.BookList__more-btn:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #000;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}