.BookList {
  max-width: 1280px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid red;
  gap: 15px;
}

.BookList__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 15px;
}

.BookList__error {
  display: none;
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}

.BookList__error_visible {
  display: block;
}

.BookList__items {
  font-size: 24px;
  color: black;
  font-weight: 400;
  margin: 0;
}

/* button styling */
.BookList__more-btn {
  margin: 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
  --border-right: 6px;
  --text-stroke-color: rgba(255,255,255,0.6);
  --animation-color: #37FF8B;
  --fs-size: 2em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}
/* this is the text, when you hover on button */
.BookList__more-btn-hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}
/* hover */
.BookList__more-btn:hover .BookList__more-btn-hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color))
}