.bookCard {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: inherit;
  gap: 10px;
  width: 240px;
  background-color: bisque;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.bookCard__image {
  align-self: center;
  max-width: 128px;
  max-height: 180px;
  width: 100%;
  object-fit: contain;
  object-position: center;
  margin: 20px 0 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.bookCard__category {
  margin: 0;
}

.bookCard__title {
  margin: 0;
}

.bookCard__authors {
  margin: 0;
}