@import url(../src/vendor/normalize.css);
@import url(./fonts/fonts.css);

.page {
  display: flex;
  font-family: 'Gotham Pro', sans-serif;
  flex-direction: column;
  max-width: 1920px;
  width: 100%;
  /* border: 1px solid green; */
  align-items: center;
  background-color: #F2F2F2;
}

@import url(./components/BookCard/BookCard.css);
@import url(./components/BookList/BookList.css);
@import url(./components/Search/Search.css);